/* MENU SUPERIOR */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');


/* CUERPO */



h2 {
	margin-bottom: 5%;
	font-family: 'Roboto', sans-serif;
}

.row2 {
	display: flex;
}

.busca-persoas {
	margin-left: 58%;
}

.btn-primary {
    margin-bottom: 4%;
    background-color: #B81207;
    border-color: #B81207;

}

.btn-primary:hover {
    background-color: #db1e11;
    border-color: #db1e11;
}

.btn-info {
    background-color: #B81207;
    color: #FFFFFF;
    border-color: #B81207;
}

.btn-info:hover {
    background-color: #db1e11;
    color: #FFFFFF;
    border-color: #db1e11;
}

.table-responsive {
	background-color: rgb(238, 238, 238);
	border-radius: 2%;
	box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.308);
	font-family: 'Libre Franklin', sans-serif;
}


/* BOTÓN ARRIBA */

#myBtn {
	position: fixed;
	bottom: 10px;
	float: right;
	z-index: 1;
	left: 94.5%;
	/* max-width: 50px; */
	width: 46px;
	height: 40px;

	font-size: 20px;
	background-color: #b81307de;
	padding: 15px;
	border-radius: 5px;


}

.fa-chevron-up {
	color: #FFFFFF;
	margin-top: -3px;

}

#myBtn:hover {
	background-color: #db1e11;
}
